<html>

    <% include ./head %>

    <body class="is-preload">

            <!-- Page Wrapper -->
			<div id="page-wrapper">

                    <!-- Header -->
                        <header id="header" class="alt">
                            <h1><a href="index.html">Your Camps</a></h1>

                            <nav>
                                 <% if(!currentUser){ %>
                                    <a href="/login">login</a>
                                    <a href="/register">Sign Up</a>
                                <% }else{ %>
                                    <a class="user">SIGNED IN AS : 
                                        <span><%=currentUser.username %> </span>
                                    </a>
                                    <a href="/logout">log out</a>

                                <%} %>
                            </nav>
                            <% if(info && info.length > 0){ %>

                                <div class="flashmess info">
                                    <%= info %>
                                </div>

                            <% } else if (success && success.length > 0){ %>

                                <div class="flashmess success">
                                    <%= success %>
                                </div>

                            <% } %>

                        </header>
    
                    

                    <!-- Banner -->
                    
					<section id="banner">
                            <div class="inner">
                                <div class="logo"><span class="icon"><i class="fas fa-campground"></i></span></div>
                                <h2>Camp places</h2>
                                <p>Enjoy many of beuatifull camp places all over the world.</p>
                                <p>Browse &nbsp;• &nbsp;Add &nbsp;• &nbsp;Remove &nbsp;•&nbsp;Manage your camps!</p>
                            </div>
                        </section>
                        
                