<html>
	<head>
		<title>Solid State by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="stylesheet" href="/assets/css/custom.css" />
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    </head>
    <body class="is-preload">

            <!-- Page Wrapper -->
			<div id="page-wrapper">

                    <!-- Header -->
                        <header id="header" class="alt">
                            <h1><a href="index.html">Your Camps</a></h1>

                            <nav>
                                <a href="/login">login</a>
                                <a href="/register">Sign Up</a>
                            </nav>

                        </header>
    
                    <!-- Menu -->
                        <!-- <nav id="menu">
                            <div class="inner">
                                <h2>Menu</h2>
                                <ul class="links">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="generic.html">Generic</a></li>
                                    <li><a href="elements.html">Elements</a></li>
                                    <li><a href="#">Log In</a></li>
                                    <li><a href="#">Sign Up</a></li>
                                </ul>
                                <a href="#" class="close">Close</a>
                            </div>
                        </nav> -->

                    <!-- Banner -->
					<section id="banner">
                            <div class="inner">
                                <div class="logo"><span class="icon"><i class="fas fa-campground"></i></span></div>
                                <h2>Camp places !</h2>
                                <p>These are your camp places. Feel free to add your favorite.</p>
                            </div>
                        </section>
    
                