<html>
	<head>
		<title>Solid State by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="stylesheet" href="/assets/css/custom.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    </head>
    <body class="is-preload">

            <!-- Page Wrapper -->
			<div id="page-wrapper">

                    <!-- Header -->
                        <header id="header" class="alt">
                            <h1><a href="index.html">Your Camps</a></h1>
                            <nav>
                                    <% if(!currentUser){ %>
                                       <a href="/login">login</a>
                                       <a href="/register">Sign Up</a>
                                   <% }else{ %>
                                       <a class="user">SIGNED IN AS : 
                                           <span><%=currentUser.username %> </span>
                                       </a>
                                       <a href="/logout">log out</a>
   
                                   <%} %>
                               </nav>
                        </header>
    
                    <!-- Menu
                        <nav id="menu">
                            <div class="inner">
                                <h2>Menu</h2>
                                <ul class="links">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="generic.html">Generic</a></li>
                                    <li><a href="elements.html">Elements</a></li>
                                    <li><a href="#">Log In</a></li>
                                    <li><a href="#">Sign Up</a></li>
                                </ul>
                                <a href="#" class="close">Close</a>
                            </div>
                        </nav> -->

                    <!-- Banner -->
					<section id="wrapper">
                        <header>
                            <div class="inner">
                                <h2>Mountains</h2>
                                <p>The top of one mountain is always the bottom of another - <strong>Marianne Williamson</strong></p>
                                <ul class="actions">
                                    <li><a href='/'' class="button">back to home page</a></li>
                                </ul>
                            </div>
                            </header>
                    </section>

    
                

