<% include ../partials/header_small %>

    <!-- Wrapper -->
    <section id="four" class="wrapper alt style1">
        <div class="inner">

            <h1 class="align-center">ADD NEW CAMP PLACE</h1>

            <form class="centered" method="post" action="/campgrounds">
                <div class="fields">
                    <div class="field">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" />
                    </div>
                    <div class="field">
                        <label for="email">Description</label>
                        <input type="text" name="desc" id="desc" />
                    </div>
                    <div class="field">
                        <label for="email">Image</label>
                        <select name="img">
                            <option value="pic04">example 1</option>
                            <option value="pic05">example 2</option>
                            <option value="pic06">example 3</option>
                        </select>
                        <P>Choose from the ones provided</P>
                        <!-- <input type="text" name="img" id="img" placeholder="best to use pic04 / pic05 / pic06 / pic07"/> -->
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Send Message" /></li>
                </ul>
            </form>

        </div>
    </section>
<% include ../partials/footer %>
