form.centered{
    max-width: 600px;
    margin: 0 auto;
}
nav a.user{
        font-weight:normal;
}
nav a.user span{
    color: #5dc06b;
    font-weight: bold;
}
span.user{
    color: #5dc06b;
    font-weight: bold;
}
h1 span, h2 span, h3 span{
    float: right
}
.edit h1 span, h2 span, h3 span{
    float: left;
}
span.submitted{
    float: right;

}

article .camp_creator{
    background: #178996;
    float: right;
    padding: 1px 10px;
    font-size: 1rem;
}
.comments-btns a{
    height: 30px;
    line-height: 1.9rem;
    padding:0 13px;
    font-size: .9rem;
}
.comments-btns blockquote{
    margin: 0;
}
.comments-btns-group{
    margin-top: 10px;
    margin-bottom: 35px;
}